<ion-header>
  <ion-toolbar>
    <ion-title>
      Latest Updates
    </ion-title>

  <ion-grid>
    <ion-row class="card-row">
      <!-- Left: Image -->
      <ion-col size="8">
        <img alt="Silhouette of mountains" src="{{profile.photo}}" />
      </ion-col>

      <!-- Right: Radio Buttons (Aligned Right) -->
      <ion-col size="4" class="radio-group-container">
        <ion-radio-group value="Follow">
          <ion-radio value="Support">Support</ion-radio><br />
          <ion-radio value="Follow">Follow</ion-radio><br />
          <ion-radio value="Dislike">Dislike</ion-radio><br />
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title> {{ profile.name }} </ion-card-title>
        <ion-card-subtitle>Affiliation and party: {{ profile.party }}</ion-card-subtitle>
        <ion-card-subtitle>Constituency: {{ profile.constituency }}</ion-card-subtitle>
        <ion-card-subtitle>Role: {{ profile.roleTitle }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  <!--    <ion-card-content>-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Biography</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{profile.bio}}
        This is a demo bio
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card *ngFor="let log of logs">
    <ion-grid>
      <ion-col></ion-col>
    </ion-grid>
    <img alt="Silhouette of mountains" src="{{log.logImages[0].ImageData}}" />
    <ion-card-header>
      <ion-card-title>{{log.logDate}}</ion-card-title>
      <ion-card-subtitle>
        Hashtags:{{ log.topicIDs}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    {{ log.logText }}
    </ion-card-content>
  </ion-card>


</ion-content>
